/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
ul,ol { list-style:none; }

/* Styles */
body { margin:0; padding:0; color:#000; font-size: 100%; line-height: 1.5em;
       font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif; 
       background:#E5ECF9 url(/img/bg_mountain.jpg) no-repeat fixed top left; }
a { color: #588cb8; text-decoration: underline; }

/* HACKS */
.clearall { clear: both; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
/* Hides from IE-mac \*/
* html .clearfix { height:1%; }
/* End hide from IE-mac */

/* TABLES */
table { margin-bottom:2em;width:100%; }
table.medium { width:70%; }
th { font-weight:bold;background:#C3D9FF; }
th, td { padding:4px 10px 4px 5px; }
tr.even td { background:#E5ECF9; }
tfoot { font-style:italic; }
caption { background:#eee; }
table form { padding: 0; margin: 0;}

h1,h2,h3,h4,h5,h6 { font-family:'Lucida Grande', 'Trebuchet MS', Arial, Helvetica, sans-serif; }
h1 { font-size:1.6em; }
h1 img { vertical-align:middle; }
h2 { font-size:1.2em; }
h3 { font-size:1em; }


/* LAYOUT */

#container { width:860px; margin:0 auto; }
#header, #poswidget { margin: 1.5em 0 0 0; background: #fff; padding: 15px; }
#header ul#nav { float:right; list-style-type:none; margin:0; background: #fff; padding: 0; 
                 font-size: 0.8em; }
#header ul#nav li { float:left; margin-left:1.4em; }
#header ul#nav li a { display:inline; text-decoration: none; }
#header h1, #header h1 a { font-weight:normal; margin:0; border:0; text-decoration:none; font-size: 2em;}
#header p.bottom { font-size: 0.9em; margin-top: 15px;}

#header, #poswidget, #content, #footer {
    -moz-border-radius-bottomright:4px; -moz-border-radius-bottomleft:4px;
    -moz-border-radius-topright:4px; -moz-border-radius-topleft:4px; 
    -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-right-radius:4px;
    -webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px;}

#content { clear: both; margin:1.5em 0 0 0; width:830px; background:#fff; float:left; 
           font-size: 0.9em; padding: 15px; }
#content h1 { margin-bottom: 1em; }
#right { margin-top:1em; float:right; width:18%; margin-left:2%; margin-right:0; padding: 10px;
         background:#dfdfdf; border: 1px solid #999; font-size: 0.8em; }


#footer { clear: left; width:830px; text-align: right; font-size: 0.8em;
          background: #fff; margin: 1.5em 0; padding: 15px;}

#columns { width:100%; }
#maincolumn { width: 415px; }
#sidecolumn { border-left: 1px solid #eee; }

#submenu { float:right; font-size: 0.9em; }
#submenu a { text-decoration:none; margin-left: 1.4em; }

.errorlist { color: red; }
.hilite { margin-bottom: 1em; }

/* GLOBAL FORMS */
form { margin-top: 1em; }
fieldset { padding-bottom: 25px; }
fieldset.last { padding: 0; border: 0; }
fieldset.submit { width: 310px; margin: 40px 0 20px; padding: 30px 20px;
            border: 1px solid #333; border-width: 4px 0 1px; background: #e1f1ff repeat-x; }
legend { padding: 5px 0 15px; font-weight: bold; }
label { font-weight: bold; font-size: 0.8em; color: #333; text-transform: uppercase; }
table.formtable, table.formsubmit, table.largeform { border-collapse: collapse; }
table.formsubmit { margin: 5px 0 20px; }
.formtable th, .formsubmit th, .largeform th { width: 170px; padding: 15px 15px 0 0; text-align: right; vertical-align: top; background-color: #fff; }
.formsubmit th { padding: 10px 15px 10px 0; }
.formtable td, .formsubmit td { width: 300px; margin: 0 0 10px 0; padding: 15px 15px 15px 0; text-align: left; vertical-align: top; }
.largeform td { width: 450px; margin: 0 0 10px 0; padding: 15px 15px 15px 0; text-align: left; vertical-align: top; }
.formtable td, .largeform td { }
.formsubmit td { padding: 10px 15px 10px 0; }
.formtable tr.last td, .formtable tr.last th { border-bottom: none; }
.largeform tr.last td, .largeform tr.last th { border-bottom: none; }
.formtable td.info, .formsubmit td.info, .largeform td.info { color: #999; font-size: 0.6875em; line-height: 130%; width: 250px; }
.formsubmit td.info { }
.formtable td a.large { padding-left: 10px; font-size: 150%; }

#activities_tab { margin-top: 1em; }
#activities_tab label { font-weight: normal; font-size:1em; text-transform: none; }
#activities_tab th { font-weight: normal; font-size: 1em; margin: 0; padding: 0; }
#activities_tab td { font-weight: normal; font-size: 0.9em; margin: 0; padding: 0; }
#activities_tab input { font-size: 0.8em; margin:0; padding:0;}
#activities_tab tr { margin: 0; padding: 0;}
#distance { background:#ddd; padding: 1.5em 0.5em; }

/* POST PAGE */

#profile img { float: left; margin-right: 10px; border: 1px solid #555; }
#profile h1 { padding:0 0 5px 0; margin: 0; }
#profile #profile-main { float: left; }
#profile span { color: #ccc; font-size: 16px; }
#profile p { margin: 0.5em 0; }
#profile { margin-bottom: 2em; }

/* POST PAGE */
ul.errorlist { list-style: none; margin: 0; padding:0; }
.message { width: 70%; background-color:#ffce7b; border:1px solid #ffa500; padding:1em 25px; margin:1em 0; color:#000; }
.no-content { padding: 20px; }
#post-message, #detail-header { padding: 10px 25px; margin: 0 -25px; }
#post-message #id_content { width:100%; margin: 0; }
#post-message #id_when { margin-right: 1em; }
#post-message img, #detail-header img { padding-right: 10px; }
#post-message table { width: 100%;}

#post-list { list-style: none; margin:0; padding: 0; }
#post-list li { border-bottom: 1px solid #ddd; padding: 6px 3px; clear: left; min-height: 35px; }
#post-list li div.marker { float:left; }
#post-list li div.body { padding-left: 30px; }

#right p { font-size:0.75em; }
#right ul { list-style: none; margin: 0; padding:0; }
#right div.section { margin-bottom: 2em; }
ul#follow-list li { float: left; margin: 0 3px 3px 0; }
#right h3 { font-weight: bold; color: #333; border-bottom: 1px solid #999; margin: 0.5em 0; padding: 0; }
#right li { }
#right li.name { font-size: 1.4em; }
#activity-list span.label { float:left; }
#activity-list li { text-align:right; }
#roll-list { list-style: none; margin:0; padding: 0; }
#roll-list li { display: block; position:relative; clear: left; border-bottom: 1px solid #ddd; padding: 10px 0; 
                min-height: 50px; }
#roll-list li div.photo { float:left; position: relative; }
#roll-list li div.marker { position: absolute; top:-5px; left: 40px; }
#roll-list li span.body { padding-left: 20px; }

#right ul.menu li { line-height: 1.7em; padding-left: 3px; }
#right ul.menu li a { text-decoration: none; }
#right ul.menu li.first { }
#right ul.menu li.active { } 
.meta { font-size: 0.8em; color: #818181;}

/* widgets */
a img.selectedimage { border: 3px solid #000 !important; }

/* icon for links in user profile */
#link-list li { padding: 5px 5px 5px 26px; width: 150px; float: left; } 
#link-list-manage li { margin-bottom: 5px; } 
.delicious { background: url(/img/profilelinks.png) 0 0 no-repeat !important; }
.digg { background: url(/img//profilelinks.png) 0 -44px no-repeat !important; }
.facebook { background: url(/img/profilelinks.png) 0 -88px no-repeat !important; }
.flickr { background: url(/img/profilelinks.png) 0 -132px no-repeat !important; }
.hi5 { background: url(/img/profilelinks.png) 0 -176px no-repeat !important; }
.jaiku { background: url(/img/profilelinks.png) 0 -220px no-repeat !important; }
.lastfm { background: url(/img/profilelinks.png) 0 -264px no-repeat !important; }
.linkedin { background: url(/img/profilelinks.png) 0 -308px no-repeat !important; }
.orkut { background: url(/img/profilelinks.png) 0 -352px no-repeat !important; }
.pownce { background: url(/img/profilelinks.png) 0 -396px no-repeat !important; }
.twitter { background: url(/img/profilelinks.png) 0 -440px no-repeat !important; }
.youtube { background: url(/img/profilelinks.png) 0 -484px no-repeat !important; }
.magnolia { background: url(/img/profilelinks.png) 0 -528px no-repeat !important; }
.sapo { background: url(/img/profilelinks.png) 0 -572px no-repeat !important; }
.generic { background: url(/img/profilelinks.png) 0 -616px no-repeat !important; }
