/*table {
border-collapse : collapse;
}

table td, table th {
padding : 0;
}*/

/* Redefining some core stuff to have a coloured bg */
.container, #header { background:#fff; }
#footer, #title-head, #title-head h3 { margin-bottom: 0; }

#head-graph {padding: 10px 18px}

.clear { clear: both }
/* Blueprint stuff because I can't change the class of input fields in django oldforms */
input.vDateField, input#id_maps_key {margin:0.5em 0;border:1px solid #bbb;}
input.vDateField:focus, input#id_maps_key:focus {border:1px solid #666;}
input.vDateField, input#id_maps_key {padding:5px;}

input#id_date
{
    width: 75px;
}

.distance input.text
{
    width: 100px;
    margin: 0;
}

.righttext
{
    text-align: right;
}

.ajax-loader
{
    text-align: center;
}

.hide
{
    display: none;
}

/* Authentication */
#login-form input.text
{
    width: 100px;
}

/* Reports */
tr.itsme td
{
    font-weight: bold;
}

#dir {position: absolute; top: -9999px; left: -9999px}
#map { width:544px; height:400px}

.report-graph
{
    height: 350px;
}

.report-graph img
{
    border: none !important;
}

.report-map
{
    float: right;
    width: 544px;
}

.report-date
{
    float: left;
    width: 115px;
/*     padding-right: 15px; */
}

.hreport
{
    height: 15px;
    border: none;
}

/* global config */
input#id_maps_key { width: 400px }

#sidecolumn, #maincolumn { vertical-align: top }

#themes { margin: 2em 2em; width: 70%;}