/* -----------------------------------------------------------------------


 Tabs Plugin 0.1 for the Blueprint CSS Framework
 http://blueprintcss.org

   * Copyright (c) 2008-Present. Refer to the main Blueprint license.
   * See README for instructions on how to use this plugin.
   * For credits and origins, see AUTHORS.

----------------------------------------------------------------------- */

.tabs { 
	/* height:1%;  fixing IE 6 -> pvl this breaks safari */
	margin:0;
	min-height:auto;
	overflow:auto;
}
.tabs li {
  float:left;
  line-height:1.5; 
  list-style-type:none;
  margin:0 .25em 0 0;
  padding:0;
}
.tabs li a { 
  cursor:pointer;
  display:block;
  float:left;
  color:#333;
  font-weight:bold;
  padding:.15em .33em .25em .33em;
}
.tabs li a.selected { 
  background:#ddd;
  cursor:default;
}
.tabs li a, .tabs li a:focus, .tabs li a:hover { 
  text-decoration:none;
}
.tabs li a:focus, .tabs li a:hover { 
  color:#555;
  outline:none;
}
.tabs li a.selected:focus, .tabs li a.selected:hover { 
}	
.tabs li.label { 
	border:none;
	font-weight:bold;
	line-height:1.5; 
	margin-right:.5em; 
	padding:.25em .33em .25em .33em;
}
