{% extends "base.html" %}

{% load i18n %}

{% block title %}
	{% trans "Activation failed" %}
{% endblock %}

{% block content %}

<h1>{% trans "Activation failed" %} </h1>
<p>{% blocktrans %}Sorry, there were problems with the activation. Please make sure that the activation link was opened correctly in your Browser. Please be also aware that activation links expire automatically.{% endblocktrans %}</p>

{% endblock content %}