{% extends "base.html" %}

{% load i18n %}

{% block title %}
	{% trans "Activation successful" %}
{% endblock %}

{% block content %}

<h1>{% trans "Activation successful" %}</h1>
<p>{% trans "Congratulations" %}. {% trans "Your account has been created successfully" %}.</p>

{% endblock content %}