{% extends "userprofile/base_profile.html" %}

{% load i18n %}

{% block title %}{% trans "Change avatar" %}{% endblock %}

{% block user_content %}

<h1>{% trans "Change avatar" %}</h1>

{% if msg %}<p class="msgbox hilite">{{ msg }}.</p>{% endif %}

<form action="." method="post" enctype="multipart/form-data">

<table class="formtable" cellpadding="0" cellspacing="0">
	<tr><th><label for="id_avatar">Current avatar:</label></th>
		<td><img src="{% url avatar_image userkey=user.key,filename=user.avatar.filename %}" width="50" height="50">
		</td></tr>
	{{ form.as_table }}
	<tr><th></th>
	<td><input type="submit" value="{% trans "Change" %}" alt="{% trans "Change image" %}" /></td>
	</tr>
</table>
</form>
	
{% endblock %}