{% extends "base.html" %}

{% load i18n %}

{% block content %}
<p id="submenu" class="clearfix">
	<a href="{% url user_settings %}">{% trans "Main" %}</a>
	<a href="{% url user_link %}">{% trans "Links" %}</a>
	<a href="{% url user_avatar %}">{% trans "Avatar" %}</a> 
	<a href="{% url user_theme %}">{% trans "Theme" %}</a>
	<a href="{% url user_pass_change %}">{% trans "Password" %}</a>
</p>
{% block user_content %}{% endblock %}
{% endblock %}