{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}

<h1>{% trans "Password reset" %}</h1>
      
<p>{% trans "Please tell us the email used in the registration" %}.</p>
	
<form id='passform' action='.' method='post' class="content">

	<table class="formtable" cellpadding="0" cellspacing="0">
		{{ form.as_table }}

		<tr><th></th>
		<td><input type="submit" value="{% trans "Submit" %}" alt="{% trans "Submit" %}" /></td>
		</tr>
	</table>
</form>
    
{% endblock %}