{% extends "base.html" %}

{% load i18n %}
{% block title %}{% trans "Login required" %}{% endblock %}

{% block user_content %}

<h1>{% trans "Login required" %}</h1>
<p>{% trans "You need to be logged to perform this operation" %}
.{% trans "If you have an account you can login" %} <a href="{% url login %}">{% trans "here" %}</a>. {% trans "Or you can join the site" %} <a href="{% url register %}">{% trans "here" %}</a>.</p>

{% endblock %}