{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}
{% block js %}<script type="text/javascript">
    /* <![CDATA[ */
        $(function() {$('#id_username').focus();});
    /* ]]> */
</script>
{% endblock %}
{% block content %}

<h1>{% trans "Login" %}</h1>

<form action='.' method='post' class="content">

<fieldset class="last">

<p>{% trans "Login with your username and password" %}.</p>

<table class="formtable" cellpadding="0" cellspacing="0">
	{{ form.as_table }}
	<tr><th></th>
	<td><input type="submit" value="{% trans "Login" %}" alt="{% trans "Login" %}" /></td>
	</tr>
</table>

</form>

<p><a href="{% url password_reset %}">{% trans "Lost the password?" %}</a> {% trans "or" %} <a href="{% url register %}">{% trans "want to join?" %}</a></span></p>

{% endblock %}