{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}

<h1>Password reset</h1>

<p>You wil receive an email with instructions for resetting your password. Please check your inbox.</p>

{% endblock %}