{% extends "base.html" %}

{% block title %}Change password {% endblock %}

{% block content %}

<h1>Change Password</h1>

<form action='.' method='post' class="content">

<p>Insert the new password.</p>

<table class="formtable" cellpadding="0" cellspacing="0">
	{{ form.as_table }}
	<tr><th></th>
	<td><input type="submit" value="Submit" alt="Submit" /></td>
	</tr>
</table>
</form>

{% endblock %}