{% extends "base.html" %}

{% block title %}Password reset {% endblock %}


{% block content %}

<h1>Password reset.</h1>

<p>The password was changed. <a href="{{ login_url }}">Click here</a> to login.</p>

{% endblock %}