{% extends "userprofile/base_profile.html" %}
{% block title %}Password Changed{% endblock %}

{% block user_content %}

<h1>Password Changed</h1>

  <p>Password changed successfully. </p>

{% endblock %}