{% extends "userprofile/base_profile.html" %}

{% load i18n %}

{% block title %}Password Change{% endblock %}

{% block user_content %}

<h1>Password Change</h1>

<form action='.' method='post'>
	<table class="formtable" cellpadding="0" cellspacing="0">
		{{ form.as_table }}
	<tr><th></th>
		<td><input type="submit" value="{% trans "Change" %}" alt="{% trans "Change image" %}" /></td>
	</tr>
</table>
</form>

{% endblock %}