{% extends "base.html" %}

{% block title %}New user{% endblock %}

{% block content %}

<h1>New user</h1>

<form action='.' method='post' class="content">

<p>Please choose your username and password</p>
	<table class="formtable" cellpadding="0" cellspacing="0">
		{{ form.as_table }}
	<tr><th></th>
	<td><input type="submit" value="Submit" alt="Submit request" /></td>
	</tr>
</table>
</form>

{% endblock %}