{% extends "base.html" %}

{% load i18n %}

{% block content %}

<h1>{% trans "Activation required" %}</h1>

<p>{% blocktrans %}Your registration is complete. In order to activate your account please check your email and click on the activation link.{% endblocktrans %}</p>

{% endblock %}
