{% extends "userprofile/base_profile.html" %}

{% load i18n %}

{% block title %}{% trans "Theme Settings" %}{% endblock %}

{% block user_content %}

<h1>{% trans "Theme Settings" %}</h1>

{% if msg %}<p class="msgbox hilite">{{ msg }}.</p>{% endif %}

<p>{% trans "Personalize your walkon display. Choose a theme or customize the background and colors." %}</p>

<table id="themes">
	<tr>
		<td><a href="{% url user_theme %}?theme=default"><img src="/img/small_default.jpg"></a></td>
		{% for theme in themes %}
		<td><a href="{% url user_theme %}?theme={{ theme.name }}"><img src="{{ theme.thumbnail_path }}"
			{% ifequal theme user.theme %} class="selectedimage"{% endifequal %}></a></td>
		{% endfor %}
	</tr>
</table>

<form action="." method="post" enctype="multipart/form-data">

	<table class="formtable" cellpadding="0" cellspacing="0">	
		{{ form.as_table }}
		<tr><th></th>
			<td><input type="submit" value="{% trans "Save" %}" alt="{% trans "Save data" %}" /></td>
		</tr>
	</table>
</form>

{% endblock %}