{% extends "userprofile/base_profile.html" %}

{% load i18n %}
{% load paginator %}

{% block title %}{% trans "Manage Users" %}{% endblock %}

{% block user_content %}

<h1>{% trans "Manage Users" %}</h1>
	
	<table class="mainlist">
		<tr><th>{% trans "Username" %}</th>
			<th>{% trans "Email" %}</th>
			<th>{% trans "Staff" %}</th>
		</tr>
	{% for u in users %}
		<tr><td><a href="{% url user_admin_detail u.username %}">{{ u.username }}</a></td>
			<td><a href="{% url user_admin_detail u.username %}">{{ u.email }}</a></td>
			<td><input type="checkbox" {% if u.is_staff %}checked{% endif%} disabled></td>
		</tr>
		
	{% endfor %}
	</table>
	{% pagination 5 %}

{% endblock %}