{% extends "userprofile/base_profile.html" %}

{% load i18n %}

{% block title %}{% trans "User Settings" %}{% endblock %}

{% block user_content %}


<h1>{% trans "User Settings" %}</h1>

{% if msg %}
    <p class="msgbox hilite">{{ msg }}.</p>
{% endif %}

<p>{% trans "Maintain here the user profile data." %}</p>

<form action="." method="post">

	<table class="formtable" cellpadding="0" cellspacing="0">	
		{{ form.as_table }}
	
		<tr><th></th>
			<td><input type="submit" value="{% trans "Save" %}" alt="{% trans "Save data" %}" /></td>
		</tr>
	</table>
</form>

{% endblock %}