{% extends "userprofile/base_profile.html" %}

{% load i18n %}

{% block title %}{% trans "Add profile links" %}{% endblock %}

{% block user_content %}

<h1>{% trans "Profile Links" %}</h1>

{% if msg %}<p class="msgbox hilite">{{ msg }}.</p>{% endif %}

<p>{% trans "Add or remove profile links." %}</p>

<form action="." method="post">

	<table class="formtable" cellpadding="0" cellspacing="0">
		{% if user.link_set.get %}
		<tr><th><label for="id_link">{% trans "Links" %}:</label></th><td>
			<ul id="link-list-manage">
				{% for link in user.link_set %}
				<li>
					<a href="{% url user_linkremove link_key=link.key %}">
						<img src="/img/icon_deletelink.gif" /></a>
					<a class="link-name" href="{{ link.url }}">{{ link.name }}</a>
				</li>
				{% endfor %}
			</ul>
		</td><td class="info">
			{% trans "Click on the cross to remove the link." %}
		</td></tr>
		{% endif %}
			
		{{ form.as_table }}

		<tr><th></th>
			<td><input type="submit" value="{% trans "Add" %}" alt="{% trans "Add link" %}" /></td>
		</tr>
	</table>
</form>

{% endblock %}