{% extends "userprofile/base_profile.html" %}

{% load i18n %}

{% block title %}{% trans "Change user details" %}{% endblock %}

{% block user_content %}

<h1>{% trans "Change user details" %}</h1>

<p>{% trans "Details for" %} {{ user.username }} ({{ user.email }})</p>
		
<form action='{% url user_admin_detail user.username %}' method='post' class="content">
	<table class="formtable" cellpadding="0" cellspacing="0">
		{{ form.as_table }}
		<tr><th></th>
			<td><input type="submit" value="{% trans "Change" %}" alt="{% trans "Change user details" %}" /></td>
		</tr>
	</table>
</form>

{% endblock %}