{% extends "userprofile/base_profile.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block user_content %}

{% if msg %}
    <p class="msgbox">{{ msg }}</p>
{% endif %}

<h1>{% trans "Change password" %}</h1>

<form action="." method="post">
	<table class="formtable" cellpadding="0" cellspacing="0">	
		{{ form.as_table }}
	<tr><th></th>
	<td><input type="submit" value="{% trans "Save" %}" alt="{% trans "Save data" %}" /></td>
	</tr>
	</table>
</form>

{% endblock %}