{% extends "base.html" %}
{% block title %}WalkOn - Page not found{% endblock %}
{% block content %}
        <div id="title-head" class="box">
            <h3>Oops!</h3>
        </div>
        <div>
            Sorry, the page you requested was not found.<br/>
            Please check the URL for proper spelling and capitalization.
        </div>
{% endblock %}