{% extends "base_admin.html" %}

{% load i18n %}

{% block title %}{% trans "Activities" %}{% endblock %}
{% block js %}
<script type="text/javascript" src="/js/goal.js"></script>
{% endblock %}

{% block admin_content %}
    <h1>{% trans "Activities" %}</h1>

	{% if msg %}<p class="success hilite">{{msg}}</p>{% endif %}

	<table class="medium" cellpadding="0" cellspacing="0">
		<tr><th>{% trans "Description" %}</th><th>{% trans "Steps/Minute" %}</th></tr>
		{% for act in activities %}
        	<tr><td>{{act.name}}</td><td>{{act.steps_min}}</td><td>
				<form action="." method="POST">
					<input type="submit"  name="del{{act.key}}" value="{% trans "Delete" %}"/></form>
				</td><td></tr>
        {% endfor %}
	</table>
    
	<form action="." method="POST">
		<legend>{% trans "Add a new activity to the list" %}.</legend>
		<table class="formtable" cellpadding="0" cellspacing="0">
			{{ form.as_table }}
		</table>
		
		<table class="formsubmit" cellpadding="0" cellspacing="0">
			<tr><th></th>
			<td><input type="submit" value="{% trans "Add" %}" alt="{% trans "Add activity" %}" /></td>
			<td></td></tr>
		</table>
	</form>
{% endblock %}
