{% extends "base.html" %}

{% load i18n %}

{% block content %}
<p id="submenu" class="clearfix">
	<a href="{% url cfg_main %}">{% trans "Main" %}</a>
	<a href="{% url cfg_goal %}">{% trans "Goal" %}</a>
	<a href="{% url cfg_activities %}">{% trans "Activities" %}</a>
	{% if user.is_staff %}	
	<a href="/admin">{% trans "Data Admin" %}</a>
	{% endif %}
</p>

{% block admin_content %}{% endblock %}

{% endblock %}