{% extends "base.html" %}

{% block content %}
<table id="columns">
	<tr>
		<td id="maincolumn">{% block content_main %}{% endblock %}</td>
		<td id="sidecolumn">{% block content_side %}{% endblock %}</td>
	</tr>
</table>	

{% endblock %}