<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{% endblock %} - Walk On</title>
	<link rel="stylesheet" href="/css/alt.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/css/tabs.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/css/datepicker.css" type="text/css" media="all"/>

	<style type="text/css">
	{% if member %}
		body {background: {{ member.get_bgcolor }} {% if member.get_bgimage %}url({{ member.get_bgimage }}) fixed {% if member.get_bgrepeat %}repeat{% endif %} top left{% endif %}; }
		a { color: {{ member.get_linkcolor }}; } 
		th { background:{{ member.get_sitecolor1 }}; }
		tr.even td { background:{{ member.get_sitecolor2 }}; }
	{% else %}
		{% if user.is_authenticated %}
			body {background: {{ user.get_bgcolor }} {% if user.get_bgimage %}url({{ user.get_bgimage }}) fixed {% if user.get_bgrepeat %}repeat{% endif %} top left{% endif %}; }
			a { color: {{ user.get_linkcolor }}; } 
			th { background:{{ user.get_sitecolor1 }}; }
			tr.even td { background:{{ user.get_sitecolor2 }}; }		
		{% else %}
			{% if global_config.has_theme %}
        		body {background: {{ global_config.get_bgcolor }} {% if global_config.get_bgimage %}url({{ global_config.get_bgimage }}) fixed {% if global_config.get_bgrepeat %}repeat{% endif %} top left{% endif %}; }
				a { color: {{ global_config.get_linkcolor }}; } 
				th { background:{{ global_config.get_sitecolor1 }}; }
				tr.even td { background:{{ global_config.get_sitecolor2 }}; }
			{% endif %}
		{% endif %}
	{% endif %}	
	</style>

    <script type="text/javascript" src="/js/jquery-1.3.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.pack.js" charset="ISO-8859-1"></script>
	<script type="text/javascript" src="/js/jquery.color.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/datepicker.js"></script>

    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
    {% block extra-head %}{% endblock %}
  </head>

  <body {% block onload %}{% endblock %}>

	<div id="container">
		<div id="header" class="clearfix">
			<ul id="nav">
				{% if user.is_authenticated %}
				<li>Welcome <a href="{% url userpage username=user.username %}">{{ user.username }}</a></li>
				{% endif %}
				<li><a href="{% url index %}" rel="home">Home</a></li>
				<li><a href="{% url reports %}">Statistics</a></li>
				{% if user.is_authenticated %}
				<li><a href="{% url user_settings %}">Settings</a></li>
				<li><a href="{% url logout %}">Logout</a></li>
				{% else %}	
				<li><a href="{% url login %}">Login</a></li>
		        <li><a href="{% url register %}">Register</a></li>
				{% endif %}
				{% if user.is_superuser %}
				<li><a href="{% url cfg_main %}">Admin</a></li>
				{% endif %}
			</ul>

            <h1>Walk On</h1>
            {% if goal %}<p class="bottom">from {{ goal.start }} on {{ goal.start_date }} to {{ goal.finish }} arriving on {{ goal.end_date }}. Total distance: {{ goal.total_distance|floatformat:0 }} km.</p>
            {% else %}<p class="bottom loud">You haven't defined the objective yet.</p>{% endif %}
        </div>
    <!--<div id="content" class="column">
      {% block content-header %}
        {% if error %}<div class="error">{{ error }}</div>{% endif %}
        {% if info %}<div class="info">{{ info }}</div>{% endif %}
        {% if messages %}
          {% for message in messages %}
            <div class="info">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endblock %}
      
    </div>-->

	{% block widget %}{% endblock %}

	{% block messages %}{% endblock %}

	<div id="content">
	  {% block content %}{% endblock %}
	</div>

	{% block sidebar %}
	{% endblock %}

	<br style="clear:both;" />

	<div id="footer">
		<p> &copy; 2010 Cognitiva</p>
	</div>

    </div>
  </body>
</html>
