<h1>{{user.name}}</h1>
{% if steps %}
    <form action="{{user.id}}/delete" method="post">
        <ul>
        {% for s in steps %}
            <li>{{s}} - <input type="checkbox" name="sid" value="{{ s.id }}"/></li>
        {% endfor %}
        </ul>
        <input type="submit" name="" value="Delete"/>
    </form>
{% else %}
    <p>Get your ass on the move!</p>
{% endif %}
