{% extends "base_admin.html" %}
{% load i18n %}

{% load i18n %}

{% block title %}Configuration{% endblock %}

{% block admin_content %}
<h1>Global configuration</h1>

<form action="." method="post" id="config-form" enctype="multipart/form-data">

{% if save %}<p class="success hilite">{% trans "Your changes have been saved" %}</p>{% endif %}

<fieldset class="last">
<legend>Global site configurations.</legend>

<table class="formtable" cellpadding="0" cellspacing="0">
	{{ form.as_table }}
</table>
</fieldset>

<table class="formsubmit" cellpadding="0" cellspacing="0">
	<tr>
	<th></th>
	<td><input type="submit" value="Change" alt="Change" /></td>
	<td class="info"></td>
	</tr>
</table>

Available themes: 

<table id="themes">
	<tr>
		<td><a href="{% url cfg_main %}?theme=default"><img src="/img/small_default.jpg"></a></td>
		{% for theme in themes %}
		<td><a href="{% url cfg_main %}?theme={{ theme.name }}"><img src="{{ theme.thumbnail_path }}"
			{% ifequal theme globalconfig.theme %} class="selectedimage"{% endifequal %}></a></td>
		{% endfor %}
	</tr>
</table>

</form>
{% endblock %}