{% extends "base_admin.html" %}

{% load i18n %}

{% block title %}{% trans "Objective" %}{% endblock %}
{% block js %}
<script type="text/javascript" src="/js/goal.js"></script>
{% if config.maps_key %}
<script type="text/javascript" src="/js/PolylineEncoder.js"></script>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ config.maps_key }}&amp;sensor=false"
      type="text/javascript"></script>
    <script type="text/javascript">

    //<![CDATA[
    var point1=point2=marker1=marker2=null;
    var dirobj=encodedPolyline=null;
    var polylineEncoder = new PolylineEncoder();
    function load() {
      if (GBrowserIsCompatible()) {
        var div = document.getElementById("map");
        var map = new GMap2(div);
        var customUI = map.getDefaultUI();
        customUI.controls.maptypecontrol = false;
        map.setUI(customUI);
        var bounds = new GLatLngBounds;
        var start_geo = $("#id_start_geo").val();
        var finish_geo = $("#id_finish_geo").val();
        if (start_geo != '')
        {
            var start_geo_array = start_geo.split(',');
            map.setCenter(new GLatLng(parseFloat(start_geo_array[0]),parseFloat(start_geo_array[1])), 9);
            point1 = new GLatLng(parseFloat(start_geo_array[0]),parseFloat(start_geo_array[1]));
            marker1 = new GMarker(point1);
            map.addOverlay(marker1);
            bounds.extend(point1);
        }
        if (finish_geo != '')
        {
            var finish_geo_array = finish_geo.split(',');
            point2 = new GLatLng(parseFloat(finish_geo_array[0]),parseFloat(finish_geo_array[1]));
            marker2 = new GMarker(point2);
            map.addOverlay(marker2);
            bounds.extend(point2);
        }
        if (start_geo != '' || finish_geo != '')
        {
            map.setZoom(map.getBoundsZoomLevel(bounds));
            map.setCenter(bounds.getCenter());
        }
        else
        {
            map.setCenter(new GLatLng(0,0), 3);
        }
        if ($("#id_directions").val() != '')
        {
            dir_line = {
                color: "#FF0000",
                weight: 10,
                points: $("#id_directions").val(),
                levels: "BBB",
                zoomFactor: 32,
                numLevels: 4
            }
            encodedPolyline = new GPolyline.fromEncoded(dir_line);
            map.addOverlay(encodedPolyline);
        }
        GEvent.addListener(map, "click", function(marker, point) {
            if (marker)
            {
                map.removeOverlay(marker);
                if (dirobj != null)
                    dirobj.clear();
                if (encodedPolyline != null)
                    map.removeOverlay(encodedPolyline);
                $("#id_total_distance").val('');
                $("#id_directions").val('');
                if (marker.getLatLng() == point2)
                {
                    point2 = null;
                    $("#id_finish_geo").val('');
                    marker2 = null;
                }
                else if (marker.getLatLng() == point1)
                {
                    if (marker2 != null) map.removeOverlay(marker2);
                    point1 = point2 = null;
                    marker1 = marker2 = null;
                    $("#id_start_geo").val('');
                    $("#id_finish_geo").val('')
                }
            }
            else
            {
                if (point1 == null)
                {
                    point1 = point;
                    $("#id_start_geo").val(point1.lat() + "," + point1.lng())
                    marker1 = new GMarker(point);
                    map.addOverlay(marker1);
                }
                else if (point2 == null)
                {
                    point2 = point;
                    marker2 = new GMarker(point);
                    map.addOverlay(marker2);
                    $("#id_finish_geo").val(point2.lat() + "," + point2.lng())
                    dirobj = new GDirections();
                    var ar = new Array(point1, point2);
                    dirobj.loadFromWaypoints(ar, {getPolyline:true});
                    GEvent.addListener(dirobj, "load", function(x) {
                        var distance = dirobj.getDistance().meters / 1000.;
                        var points = [];
                        for (var i=0; i< dirobj.getPolyline().getVertexCount(); i++) {
                            points[i] = dirobj.getPolyline().getVertex(i);
                        }
                        polyline = polylineEncoder.dpEncode(points);
                        $("#id_total_distance").val(distance.toFixed(2));
                        $("#id_directions").val(polyline.encodedPoints);
                        encodedPolyline = dirobj.getPolyline();
                        map.addOverlay(encodedPolyline);
                    });
                }
            }
        });
//         var dir = new GDirections(map, dir);
//         var ar = new Array(point1, point2);
//         dir.loadFromWaypoints(ar);
//         GEvent.addListener(dir, "addoverlay", function(x) {
//             map.openInfoWindowHtml(
//             point2,
//             dir.getDistance().html);
//         });

      }
    }

$(document).ready(load);
$(document.body).unload(GUnload);
//]]>
</script>
{% endif %}
{% endblock %}
{% block onload %}{% endblock %}

{% block admin_content %}

<h1>{% trans "Objective" %}</h1>

{% if save %}
<p class="success hilite">{% trans "Your changes have been saved" %}.</p>
{% endif %}

<form action="." method="post" id="goal-form">
	{% if info %}
	<legend><strong>{% trans "The competiton has started" %}!</strong><br/>{% trans "Please take care when changing the objective after the starting date - if users have entered any data it may cause inconsistencies" %}.</legend>
	{% else %}
	<legend>{% trans "Please define the objective" %}.</legend>
	{% endif %}
	
	<table class="formtable" cellpadding="0" cellspacing="0">
		{{ form.as_table }}
	</table>

	{% if config.maps_key %}
	<div id="map"></div>
	{% endif %}
	
	<table class="formsubmit" cellpadding="0" cellspacing="0">
		<tr>
		<th></th>
		<td><input type="submit" value="{% if goal %}{% trans "Change" %}{% else %}{% trans "Create" %}{% endif %}" alt="{% if goal %}{% trans "Change" %}{% else %}{% trans "Create" %}{% endif %}" /></td>
		<td class="info"></td>
		</tr>
	</table>
</form>	

{% endblock %}