
    <table cellpadding="0" cellspacing="0" id="t3">
        <caption>Current personal ranking</caption>
        <tr><th>#</th><th>Name</th><th>km</th><th>km/Day</th><th>%</th>{% if in_stats %}<th></th>{% endif %}</tr>
        {% for person in stats_hrank %}
            {% url userpage person.1.username as detail_url %}
            <tr class="{% cycle odd,even %} {% ifequal whoami.id person.1.id %}itsme{% endifequal %}"><td>{{person.0}}</td><td><a href="{{detail_url}}" title="See profile for {{person.1.get_full_name}}">{{person.1.get_full_name}}</a></td><td>{{person.2|floatformat:2}}</td><td>{{person.3|floatformat:2}}</td><td>{{person.4|floatformat:2}}</td>{% if in_stats %}<td><a href="?date={{ thisdate.isoformat }}&amp;person={{person.1.id|urlencode}}" title="See statistics for {{person.1.get_full_name}}">stats</a></td>{% endif %}</tr>
        {% endfor %}
    </table>