
                <p id="g1" class="report-graph">Cumulative distance:<br/>
                <img src="http://chart.apis.google.com/chart?chs=500x300&amp;chd=t:{{stats_line.me|join:","}}|{{stats_line.top|join:","}}|{{stats_line.avg|join:","}}&amp;chds=0,{{stats_line.top_max}}&amp;cht=lc&amp;chxt=x,y&amp;chxl=0:|{{startdate.isoformat}}|{{thisdate.isoformat}}&amp;chxr=1,0,{{stats_line.top_max}}&amp;chdl={{whoami.get_full_name|urlencode}}|Leader|Average&amp;chco=FF0000,00FF00,0000FF" alt="Cumulative distance"/>
                </p>