
<div id="poswidget">
	
<div id="head-graph" class="box" style="position: relative">
    <div style="margin: 0px 25px; width: 750px; height:50px; border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black"></div>
    <p style="margin: 0; text-align: right;"><span style="float: left">{{goal.start}}</span>{{goal.finish}}</p>
    <div style="width: 25px; height: 55px; border: none; position: absolute; top:5px; left: {{summary.1.1}}px; text-align: center; line-height: 15px">Me<img  src="/img/walk2.png" alt="Me"/></div>
    <div style="width: 25px; height: 55px; border: none; position: absolute; top:5px; left: {{summary.0.1}}px; text-align: center; line-height: 15px">Leader<img  src="/img/walk2-green.png" alt="Leader"/></div>
    <div style="width: 25px; height: 55px; border: none; position: absolute; top:5px; left: {{summary.2.1}}px; text-align: center; line-height: 15px">Avg<img  src="/img/walk2-yellow.png" alt="Average"/></div>
</div>

</div>