{% extends "base_sidebar.html" %}
{% load i18n %}
{% block title %}Home{% endblock %}
{% block js %}
<script type="text/javascript">
    /* <![CDATA[ */
    var goal_start = Date.UTC({{goal.start_date.year}}, {{goal.start_date.month}}-1, {{goal.start_date.day}}) - 86400000; /* 86.400.000ms = 1day otherwise the you can't select the first day */;
    var goal_end = Date.UTC({{goal.end_date.year}}, {{goal.end_date.month}}-1, {{goal.end_date.day}});
    $(function() {
        $("#tab_date").DatePicker({
            format:'Y-m-d',
            date: ['{{goal.start_date.isoformat}}', '{{goal.end_date.isoformat}}'],
            current: $('#id_date_hidden').val(),
            starts: 1,
            position: 'right',
            onBeforeShow: function(){
                $('#tab_date').DatePickerSetDate($('#id_date_hidden').val(), true);
            },
            onRender: function(date) {
                return {
                    disabled: (date.valueOf() < goal_start) || (date.valueOf() > goal_end)
                }
            },
            onChange: function(formated, dates) {
                $('.date-hidden').val(formated);
                $(".selected").removeClass("selected");
                $('#tab_date').addClass("selected");
                tab_header = dates.getDayName() + ' ' + dates.getDate();
                $('#tab_date').text(tab_header);
                clear_hilite();
                get_step_table(formated);
                $('#tab_date').DatePickerHide();
                return false;
            }
        });
        $('#date-before-yesterday').click( function() {return change_date('{{day_2.isoformat}}', $(this))} );
        $('#date-yesterday').click( function() {return change_date('{{day_1.isoformat}}', $(this))} );
        $('#date-today').click( function() {return change_date('{% now "Y-m-d" %}', $(this))} );
        $('#activities_full_link').click(function() {get_full_step_form($('.date-hidden').val()); return false;});
    });
    /* ]]> */
</script>

{% endblock %}

{% block widget %}
	{% include "inc_poswidget.html" %}
{% endblock %}


{% block content_main %}
{% if info %}<p class="success hilite">{{ info }}.</p>{% endif %}
{% if save %}<p class="success hilite">{% trans "Please reset your counter." %}.</p>{% endif %}

<ul class="tabs">
	<li><a href="?date={{ day_2.isoformat }}" id="date-before-yesterday"{% if isday2 and not show_cal %} class="selected"{% endif %}>{{ day_2|date:"D d" }}</a></li>
	<li><a href="?date={{ day_1.isoformat }}" id="date-yesterday"{% if isday1 and not show_cal %} class="selected"{% endif %}>{{ day_1|date:"D d" }}</a></li>
	<li><a href="?date={% now "Y-m-d" %}" id="date-today"{% if istoday and not show_cal %} class="selected"{% endif %}>Today</a></li>
	<li><a href="?show_cal=1" id="tab_date"{% if show_cal or isotherday %} class="selected"{% endif %}>{% if isotherday %}{{ date|date:"D d" }}{% else %}Calendar{% endif %}</a></li>
</ul>

{% if show_cal %}
<div id="choose-date">
	<form action="" method="get" id="date-form">
		{{ date_form.as_p }}
		<input type="submit" value="Set" /></p>
	</form>
</div>
{% endif %}

<div id="step_form_container">
{% include "step_form.html" %}
{% if step_form.activities %}<a id="activities_full_link" href="{% url full_step_form_ajax %}">Show all activities</a>{% endif %}
</div>
{% endblock %}

{% block content_side %}
<div id="step-table">
    <form action="/" method="post">
    <table cellpadding="0" cellspacing="0">
        <caption>Steps entered for this day:</caption>
        <thead {% if not entered_steps %} class="hide"{% endif %}>
            <tr><th>Description</th><th>Steps</th><th>Distance (km)</th><th></th></tr>
        </thead>
        <tbody id="step-table-body-yes" {% if not entered_steps %} class="hide"{% endif %}>
        {% for st in entered_steps %}
            <tr><td>{{st.activity.name|default:"Counter"}}</td><td>{{st.steps}}</td><td>{{st.distance}}</td><td><input type="submit" name="del{{st.key}}" value="Delete"/></td></tr>
        {% endfor %}
        </tbody>
        <tbody id="step-table-body-no" {% if entered_steps %} class="hide"{% endif %}><tr><td>No entry yet.</td></tr></tbody>

    </table>
    <p><input type="hidden" name="date_hidden" value="{{ date.isoformat }}" class="date-hidden"/></p>
    </form>
</div>

<div id="stats">
	<table cellpadding="0" cellspacing="0">
		<caption>Current personal results - Top 10</caption>
		<tr><th>#</th><th>Name</th><!--th>Steps</th--><th>km</th><th>km/Day</th><th>%</th></tr>
		{% for person in personal_stats %}
			<tr class="{% cycle odd,even %} {% ifequal whoami.id person.0.id %}itsme{% endifequal %}"><td>{{forloop.counter}}</td><td><a href="{% url userpage person.0.username %}" title="See profile for {{person.0.get_full_name}}">{{person.0.get_full_name}}</a></td><td>{{person.1|floatformat:2}}</td><td>{{person.2|floatformat:2}}</td><td>{{person.3|floatformat:2}}</td></tr>
		{% endfor %}
	</table>
    <hr class="hreport"/>
    {% if stats_hrank %}
    <hr class="hreport"/>
    {% include "inc_personal_ranking.html" %}
    {% endif %}
</div>
{% endblock %}