{% extends "base.html" %}
{% block title %}WalkOn{% endblock %}
{% block content %}
        <div id="title-head" class="box">
            <h3>Nowhere to walk</h3>
        </div>
        <div>
            Thanks for logging in, but you need to wait until the objective has been defined before you can start using this application :)
        </div>
{% endblock %}