{% extends "reports.html" %}
{% block title %}Reports - Benchmarks{% endblock %}
{% block onload %}{% endblock %}
{% block report %}
        <div id="stats" class="clear">
                       <div>
                <table cellpadding="0" cellspacing="0" id="t4">
                    <caption>Summary</caption>
                    <tr><th>#</th><th>Name</th><th>km</th><th>km/Day</th><th>%</th><th></th></tr>
                    {% for person in stats_summary %}
                    <tr class="{% cycle odd,even %} {% ifequal whoami.id person.1.id %}itsme{% endifequal %}">
                    {% if person.0 %}
                    {% url userpage person.1.username as detail_url %}
                    <td>{{ person.0 }}</td><td><a href="{{ detail_url }}">{{ person.1.get_full_name }}</a></td><td>{{ person.2|floatformat:2 }}</td><td>{{ person.3|floatformat:2 }}</td><td>{{person.4|floatformat:2}}</td><td><a href="?date={{ thisdate.isoformat }}&amp;person={{person.1.id|urlencode}}" title="See statistics for {{person.1.get_full_name}}">stats</a></td>
                    {% else %}
                    <td></td><td>Average</td><td>{{ person.2|floatformat:2 }}</td><td>{{ person.3|floatformat:2 }}</td><td>{{person.4|floatformat:2}}</td><td></td>
                    {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <hr class="hreport"/>
            
            <hr class="hreport"/>
            <div>
                <p id="g2" class="report-graph">Daily distance:<br/>
                <img src="http://chart.apis.google.com/chart?chs=500x300&amp;chd=t:{{stats_bar.me|join:","}}|{{stats_bar.top|join:","}}|{{stats_bar.avg|join:","}}&amp;chds=0,{{stats_bar.top_max}}&amp;cht=bvg&amp;chbh=a&amp;chxt=x,y&amp;chxl=0:|{{stats_bar.labelsx|join:"|"}}|&amp;chxr=1,0,{{stats_bar.top_max}}&amp;chdl={{whoami.get_full_name|urlencode}}|Leader|Average&amp;chco=FF0000,00FF00,0000FF" alt="Daily distance"/>
                </p>
                {% include "inc_cumulative_graph.html" %}
            </div>
        </div>
{% endblock %}