{% extends "reports.html" %}
{% block title %}Reports - Steps{% endblock %}
{% block onload %}{% endblock %}
{% block report %}
        <div id="stats" class="clear">
            <table cellpadding="0" cellspacing="0">
                <caption>All Steps entered:</caption>
                <thead>
                    <tr><th>Date</th><th>Description</th><th>Steps</th><th>Distance (km)</th></tr>
                </thead>
                <tbody>
                {% for st in steps %}
                    <tr><td>{{st.date.isoformat}}</td><td>{{st.activity.name|default:"Counter"}}</td><td>{{st.steps}}</td><td>{{st.distance}}</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}