{% extends "reports.html" %}
{% block title %}Reports - Map{% endblock %}
{% block js %}
{% if goal.start_geo and goal.finish_geo and config.maps_key %}
<script type="text/javascript" src="/js/maputils.js"></script>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ config.maps_key }}&amp;sensor=false"
      type="text/javascript"></script>
    <script type="text/javascript">

    //<![CDATA[
    var point1=point2=null;
    var people=new Array({% for person in stats_summary %}{name: '{% firstof person.1.get_full_name "Average" %}', distance: {{person.2}}, position: {% if forloop.last %}-1{% else %}{{person.0|default_if_none:0}}{% endif %}}{% if not forloop.last %},{% endif %}{% endfor %});
    function load() {
      if (GBrowserIsCompatible()) {
        var div = document.getElementById("map");
        var map = new GMap2(div);
        map.setCenter(new GLatLng({{goal.start_geo.lat}},{{goal.start_geo.lon}}), 9);
        map.addControl(new GLargeMapControl())
        var point1 = new GLatLng({{goal.start_geo.lat}},{{goal.start_geo.lon}});
        startMarkerOptions = { icon: walkonIcon(walkonIconTypes.START_ICON) };
        map.addOverlay(new GMarker(point1, startMarkerOptions));
        var point2 = new GLatLng({{goal.finish_geo.lat}},{{goal.finish_geo.lon}});
        finishMarkerOptions = { icon:  walkonIcon(walkonIconTypes.FINISH_ICON) };
        map.addOverlay(new GMarker(point2, finishMarkerOptions));
        // Loading directions already sets the appropriate Zoom and centre, but let's do it by
        // hand anyway
        var bounds = new GLatLngBounds;
        bounds.extend(point1);
        bounds.extend(point2);
        map.setZoom(map.getBoundsZoomLevel(bounds));
        map.setCenter(bounds.getCenter());
         {% if goal.directions %}
        var encodedPolyline = new GPolyline.fromEncoded({
            color: "#FF0000",
            weight: 10,
            points: "{{ goal.jsdirections }}",
            levels: "BBB",
            zoomFactor: 32,
            numLevels: 4
        });
        map.addOverlay(encodedPolyline);
            var pl = encodedPolyline;
            for (var p in people)
            {
                var start = pl.getVertex(0);
                var leng = 0;
                for (var i=1; i<pl.getVertexCount(); i++)
                {
                    var ponto = pl.getVertex(i);
                    old_leng = leng;
                    leng += ponto.distanceFrom(start);
                    //leng in m
                    if (leng >= (people[p].distance*1000))
                    {
                        var nome = people[p].name ? people[p].name : 'Average';
                        if (people[p].position == 1)
                        {
                            var newIcon = walkonIcon(walkonIconTypes.LEADER_ICON);
                        }
                        else if (people[p].position == 0)
                        {
                            var newIcon = walkonIcon(walkonIconTypes.AVERAGE_ICON);
                        }
                        else if (people[p].position == -1)
                        {
                            var newIcon = walkonIcon(walkonIconTypes.LAST_ICON);
                        }
                        else
                        {
                            var newIcon = walkonIcon(walkonIconTypes.ME_ICON);
                        }
                        map.addOverlay(new GMarker(ponto,{title: nome, icon: newIcon}));
                        break;
                    }
                    start = ponto;
                }
            }
//         });
{% endif %}
      }
    }

$(document).ready(load);
$(document.body).unload(GUnload);
//]]>
{% endif %}
</script>
{% endblock %}
{% block onload %}{% endblock %}
{% block report %}
        <div class="report-map">
            {% if goal.start_geo and goal.finish_geo %}
            <div id="map"></div>
            {% endif %}
        </div>

{% endblock %}