{% extends "reports.html" %}
{% block title %}Reports - Map{% endblock %}
{% block onload %}{% endblock %}
{% block report %}
        <div id="stats" class="clear">
            <div>
            <table cellpadding="0" cellspacing="0" id="t3">
                <caption>Current personal ranking</caption>
                <tr><th>#</th><th>Name</th><th>km</th><th>km/Day</th><th>%</th><th></th></tr>
                {% for person in stats_hrank %}
                    {% url userpage person.1.username as detail_url %}
                    <tr class="{% cycle odd,even %} {% ifequal whoami.id person.1.id %}itsme{% endifequal %}"><td>{{person.0}}</td><td><a href="{{detail_url}}">{{person.1.get_full_name}}</a></td><td>{{person.2|floatformat:2}}</td><td>{{person.3|floatformat:2}}</td><td>{{person.4|floatformat:2}}</td><td><a href="?date={{ thisdate.isoformat }}&amp;person={{person.1.id|urlencode}}" title="See statistics for {{person.1.get_full_name}}">stats</a></td></tr>
                {% endfor %}
            </table>
                <p><a href="{% url full_results %}">See the full table</a>.</p>
            </div>
            <hr class="hreport"/>
            <div>
                <table cellpadding="0" cellspacing="0" id="t2">
                    <caption>Current personal results - Top 10</caption>
                    <tr><th>#</th><th>Name</th><th>km</th><th>km/Day</th><th>%</th><th></th></tr>
                    {% for person in stats_top10 %}
                        {% url userpage person.0.username as detail_url %}
                        <tr class="{% cycle odd,even %} {% ifequal whoami.id person.0.id %}itsme{% endifequal %}"><td>{{forloop.counter}}</td><td><a href="{{ detail_url }}">{{person.0.get_full_name}}</a></td><td>{{person.1|floatformat:2}}</td><td>{{person.2|floatformat:2}}</td><td>{{person.3|floatformat:2}}</td><td><a href="?date={{ thisdate.isoformat }}&amp;person={{person.0.id|urlencode}}" title="See statistics for {{person.0.get_full_name}}">stats</a></td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>
{% endblock %}