{% extends "reports.html" %}
{% block title %}Reports - by Activity{% endblock %}
{% block onload %}{% endblock %}
{% block report_header %}<h3>Statistics: by activity</h3>{% endblock %}
{% block report %}
        <div id="stats" class="clear">
            <div>
                <table cellpadding="0" cellspacing="0" id="t7">
                        <caption>My distribution by activity</caption>
                        <tr><th>Activity</th><th>%</th></tr>
                        {% for activity in my_activity %}
                            <tr class="{% cycle odd,even %}"><td>{{activity.0}}</td><td>{{activity.2|floatformat}}</td></tr>
                        {% endfor %}
                </table>
                <p id="g3" class="report-graph">{{whoami.get_full_name}}'s distribution by activity (chart):<br/>
                <img src="http://chart.apis.google.com/chart?chs=500x300&amp;chd=t:{{stats_pie.me|join:","}}&amp;cht=p&amp;chdl={{stats_pie.me_labels|join:"|"}}" alt="{{whoami.get_full_name}}'s distribution by activity (chart)"/>
                </p>
            </div>
            <hr class="hreport"/>
            <div>
                 <table cellpadding="0" cellspacing="0" id="t6">
                    <caption>Global distribution by activity</caption>
                    <tr><th>Activity</th><th>%</th></tr>
                    {% for activity in by_activity %}
                        <tr class="{% cycle odd,even %}"><td>{{activity.0}}</td><td>{{activity.2|floatformat}}</td></tr>
                    {% endfor %}
                </table>
                
                <p id="g4" class="report-graph">Global distribution by activity (chart):<br/>
                <img src="http://chart.apis.google.com/chart?chs=500x300&amp;chd=t:{{stats_pie.global|join:","}}&amp;cht=p&amp;chdl={{stats_pie.global_labels|join:"|"}}" alt="Global distribution by activity (chart)"/>
                </p>
            </div>
        </div>
{% endblock %}