{% extends "base.html" %}
{% block title %}Reports{% endblock %}
{% block js %}{% endblock %}
{% block content %}
        <p id="submenu" class="clearfix">
                <a href="{% url report_map %}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}">mapa</a>
                <a href="{% url report_steps %}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}">steps</a>
                <a href="{% url report_rankings %}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}">rankings</a>
                <a href="{% url report_projections %}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}">projections</a>
                <a href="{% url report_benchmark %}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}">benchmark</a>
                <a href="{% url report_activities %}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}">activities</a>
        </p>
        <div id="title-head" class="box">
            {% block report_header %}<h3>Statistics on {{thisdate}}</h3>{% endblock %}
        </div>
        <div class="report-date">
            {% if not hide_date %}
            <div id="choose-date">
                <form action="" method="get" id="date-form">
                    <p {% if date_form.date.errors %}class="error"{% endif %}>
                    {% if date_form.date.errors %}<strong>{{ date_form.date.errors|join:", " }}</strong><br/>{% endif %}
                    <label for="id_date">Date (yyyy-mm-dd):</label> {{date_form.date}}
                    <input type="submit" value="Set" /></p>
                </form>
                 <script type="text/javascript">
                    /* <![CDATA[ */
                    var goal_start = Date.UTC({{goal.start_date.year}}, {{goal.start_date.month}}-1, {{goal.start_date.day}})-86400000; /* 86.400.000ms = 1day otherwise the you can't select the first day */
                    var goal_end = Date.UTC({{goal.end_date.year}}, {{goal.end_date.month}}-1, {{goal.end_date.day}});
                    $(function() {
                        $('#choose-date').DatePicker({
                            flat: true,
                            format:'Y-m-d',
                            date: $('#id_date').val(),
                            current: $('#id_date').val(),
                            calendars: 1,
                            starts: 1,
                            onRender: function(date) {
                                return {
                                    disabled: (date.valueOf() < goal_start) || (date.valueOf() > goal_end)
                                }
                            },
                            onChange: function(formated, dates) {
                                $('#id_date').val(formated);
                                $("#date-form").submit();
                            }
                        });
                    });
                    $("#date-form").hide();
                    /* ]]> */
                </script>
            </div>
            {% endif %}
            {% if error %}
            <p class="error">{{ error }}</p>
        </div>
            {% else %}
            </div>
        {% block report %}{% endblock report %}
        {% endif %}
{% endblock content %}
