{% extends "reports.html" %}
{% block title %}Reports - Projections{% endblock %}
{% block onload %}{% endblock %}
{% block report %}
        <div id="stats" class="clear">
            <div>
                <table cellpadding="0" cellspacing="0" id="t5">
                    <caption>Projections</caption>
                    <tr><th>Current distance</th><td>{{projections.distance|floatformat:2}} km</td></tr>
                    <tr><th>Leader</th><td>{{projections.first_distance|floatformat:2}} km</td></tr>
                    <tr><th>Current pace</th><td>{{projections.perday|floatformat:2}} km/day</td></tr>
                    <tr><th>Projected distance</th><td>{{projections.projected|floatformat:2}} km</td></tr>
                    {% if projections.winning_pace %}
                    <tr><th>Pace needed to overtake leader and win</th><td>{{projections.winning_pace|floatformat:2}} km/day</td></tr>
                    {% endif %}
                </table>
            </div>
        </div>
{% endblock %}