{% if entered_steps %}
                    {% for st in entered_steps %}
                        <tr><td>{{st.activity.name|default:"Counter"}}</td><td>{{st.steps}}</td><td>{{st.distance}}</td><td><input type="submit" name="del{{st.key}}" value="Delete"/></td></tr>
                    {% endfor %}
{% endif %}