<form action="/" method="post" class="distance" id="distance-form">
<div id="distance">
        {% comment %} This does not display errors in the hidden date field {% endcomment %}
        {% if step_form.errors %}<ul class="errorlist">{% for error in step_form.errors %}<li>{{error}}</li>{% endfor %}</ul>{% endif %}
        <p>
        <label for="id_steps">Steps: </label>
        <input id="id_steps" type="text" name="steps"/>
        <input id="id_date_hidden" class="date-hidden" type="hidden" name="date_hidden" value="{{step_form.date_hidden}}"/>
        <input type="submit" id="save-steps" value="Save" />
        </p>
</div>
        {% if step_form.activities %}
        <table id="activities_tab" cellpadding="0" cellspacing="0">
            <tr><th>Description</th><th>Steps/Minute</th><th>Minutes</th></tr>
            {% for act_field in step_form.activities %}
            <tr><td><label for="{{act_field.form_id}}">{{act_field.label}}</label></td><td>{{act_field.help_text}}</td><td><input type="text" size="4" name="{{act_field.form_id}}" id="{{act_field.form_id}}"/></td></tr>
            {% endfor %}
        </table>
        {% endif %}

</form>