{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ member.get_display_name }}{% endblock %}

{% block content %}

<div id="profile">
	<img class="" src="{% url avatar_image userkey=member.key,filename=member.avatar.filename %}" width="50" height="50">
	<div id="profile-main">
		{% if member.display_name %}
		<h1>{{ member.display_name }} <span class="username">({{ member.username }})</span></h1>
		{% else %}
		<h1>{{ member.username }}</h1>
		{% endif %}
		<p>{% trans "Member since" %} {{ member.date_joined|date:"j F Y" }}</p>
	</div>
	<div class="clearall"></div>

	{% if member.bio %}<p>{{ member.bio }}</p>{% endif %}
	
	<ul id="link-list">
		{% for link in member.link_set %}
		<li class="{{ link.logo }}"><a href="{{ link.url }}">{{ link.name }}</a></li>
		{% endfor %}
	</ul>
	<div class="clearall"></div>
    {% if stats_hrank %}
    {% include "inc_personal_ranking.html" %}
    {% endif %}
    {% if stats_line %}
    {% include "inc_cumulative_graph.html" %}
    {% endif %}
</div>

{% endblock %}